* {
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display:flex;   
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 5px;
}

.buttons button {
    padding: 5px;
}
.circle, .triangle, .rectangle {
    position: absolute;
}

.drawable {
    position: relative;
    flex: 1 1 auto;
    width:900px;
    height:600px;
    
}

